.cc{
  margin-bottom: 5%;
}

.cp{
  height: 301.95px;
}

a{
  text-decoration: none;
}

.name{
  font-size: xxx-large;
}

.description{
  font-size: x-large;
}

.creator{
  font-size: large;
}

section{
  padding-bottom: 5%;
}

.c-img{
  border-radius: 2%;
}
