.custom-banner {
  max-height: 320px;
  overflow: hidden; /* Cache tout ce qui dépasse la hauteur maximale */
}

a {
  text-decoration:none;
  color: black;
}

.custom-photo{
  margin-top: -10.5%;
  margin-left: 2%;
  width: 12%;
  max-height: 182.3px;
  border-radius: 20px;
}
.photo{
  padding-bottom: 2%;
}
.nom{
  font-size: 200%;
  font-weight: bold;
  padding-left: 0.5%;
}
.custom-container{
  margin-top: -2%;
  padding-left: 2%;
}
.description{
  padding-left: 0.5%;
}


.section-divider {
  margin-top: 3%;
  border-bottom: 1px;
}
.custom-row{
  padding-bottom: 2%;
}

.card{
  margin-bottom: 5%;
}
.btn-custom{
  border-color: #EAE8E8 ;
}


.card-photo{
  height: 301.95px;
}

.btnl{
  color: grey;
}

.custom-info{
  font-weight: bold;
}
.custom-info:after{
  content: " · ";
}

li{
  padding-right: 2%;
}

.btnl:hover{
  color: black;
}

.margin{
  margin-bottom: 2%;
}

@media all and (min-width: 1000px) {
  .custom-tri{
    display: none;
  }

}
@media all and (max-width: 1000px) {
  .custom-photo{
    width: 20%;
    margin-top: -15%;
  }
  .card.sticky-side{
    visibility: hidden;
  }
  .card{
    margin-right: 25%;
  }
  .sticky-nav{
    visibility: hidden;
  }
  .custom-tri{
    width: 125%;
    position: sticky;
    top: 10%;
    z-index: 1;
    background-color: white;

  }
}

@media all and (max-width: 700px) {
  .nom-collection{
    font-size: 150%;
  }
}
