<section>
  <div class=" custom-banner">
    <img src="assets/img/azukibanner.avif" class="img-fluid w-100">
  </div>
  <a  data-bs-toggle="modal" data-bs-target="#Modal">
    <div class="photo">
      <span class="btn btn-file">
      <img src="assets/img/azuki.avif" class="img-fluid img-thumbnail custom-photo"><input type="file">
      </span>
    </div>
  </a>
  <div class="container-fluid custom-container">
    <p class="nom">TattyJossy</p>
  </div>
  <hr class="section-divider">
</section>
