<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/img/TheMerge2.jpeg"
                   alt="login form" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>
                  <h5 class="fw-normal mb-3 pb-3">Créer un compte</h5>
                  <a href="/" class="btn btn-close position-absolute top-0 end-0"></a>
                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example18" class="form-control form-control-lg" >
                    <label class="form-label" for="form2Example17">Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" >
                    <label class="form-label" for="form2Example17">Nom d'utilisateur</label>
                  </div>


                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" >
                    <label class="form-label" for="form2Example27">Mot de passe</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="button">Créer</button>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Déja un compte ?
                    <a href="/auth/login"style="color: #393f81;">Connecté vous ici</a></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

