<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>

<section>
  <div class="custom-banner">
    <img src="assets/img/gridhausbanner.avif" class="img-fluid">
  </div>
  <div class="collection-photo">
    <img src="assets/img/gridhaus.avif" class="img-fluid img-thumbnail custom-photo">
  </div>
  <div class="container-fluid custom-container">
    <p class="nom-collection">Grid Haus</p>
    <p class="nom-createur">mumbledev</p>
    <div class="d-flex flex-wrap">
      <div class="p-2">Items</div>
      <div class="p-2 custom-info">375</div>
      <div class="p-2">Created</div>
      <div class="p-2 custom-info">Sep 2023</div>
      <div class="p-2">Chain</div>
      <div class="p-2 custom-info">Ethereum</div>
      <div class="p-2">Category</div>
      <div class="p-2 custom-infol">Art</div>
    </div>
    <p class="description">Grid Haus is an animated generative art project that turns your entire wallet address into an art piece.</p>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/gridhaus.avif" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Grid Haus</p>
          <p class="card-text">5 ETH</p>
        </div>
      </div>
    </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/gridhaus.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/gridhaus.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/gridhaus.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<app-footer></app-footer>



