<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img *ngIf="gallery && dataLoaded" [src]="gallery.image.imageUrl" class="img-fluid w-100" alt="">
      </div>
    </div>
  </div>
</div>


<section id="nftc">
  <div class="modal fade"  id="nft" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Création de NFT</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form name="NFTForm" #g="ngForm" (ngSubmit)="CreateNFTOnSubmit()">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="nomcollection" placeholder="Nom"  [(ngModel)]="NFTForm.name"
                     #name="ngModel" [ngModelOptions]="{standalone: true}">
              <label for="nomcollection">Nom</label>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="photo">Photo</label>
              <input type="file" class="form-control" id="photo" (change)="onImageFileSelected($event)" accept="image/*">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Créer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section *ngIf="dataLoaded">
  <div class="custom-banner">
    <img *ngIf="gallery" [src]="gallery.bannerImage.imageUrl" class="img-fluid w-100">
  </div>
  <div class="collection-photo">
    <a data-bs-toggle="modal" data-bs-target="#Modal">
      <img *ngIf="gallery" [src]="gallery.image.imageUrl" class="img-fluid img-thumbnail custom-photo">
    </a>
  </div>
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-lg-11 col-md-10 col-sm-9 col-xs-8">
        <p class="nom-collection" *ngIf="gallery">{{ gallery.name }}</p>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4">
        <div class="dropdown" *ngIf="isOwner && dataLoaded">
          <button class="btn" type="button" data-bs-toggle="dropdown">
            <img src="assets/img/three-dots.svg" class="img-fluid">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="'/modify-galerie/' + gallery.id">Modifier</a></li>
            <li>
              <button class="dropdown-item" (click)="deleteGallery()" *ngIf="isOwner">Supprimer</button>
            </li>
            <li>
              <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#nft">Créer un NFT</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="nom-createur" *ngIf="gallery">{{ gallery.creator.username }}</p>
    <div class="d-flex flex-wrap">
      <div class="p-2">Items</div>
      <div class="p-2 custom-info" *ngIf="nfts">{{ nfts.length }}</div>
      <div class="p-2">Created</div>
      <div class="p-2 custom-info" *ngIf="gallery">{{ gallery.dropdate | date:'mediumDate' }}</div>
      <div class="p-2">Chain</div>
      <div class="p-2 custom-info">Ethereum</div>
      <div class="p-2">Category</div>
      <a *ngIf="gallery" [routerLink]="'/category/' + gallery.category | lowercase">
        <div class="p-2 custom-infol">{{ gallery.category }}</div>
      </a>
    </div>
    <p class="description" *ngIf="gallery">{{ gallery.description }}</p>
  </div>

  <hr class="section-divider">
</section>

<section *ngIf="dataLoaded">
  <div class="container-fluid">

    <div class="sticky-nav">
      <div class="container-fluid">
        <div class="row custom-row">
          <div class="col-2">

          </div>
          <div class="col-6">

            <form class="d-flex custom-search-form me-5" role="search">
              <input class="custom-search-input" type="search" placeholder="Recherche par nom" aria-label="Search">
            </form>
          </div>

          <div class="col-lg-2"></div>

          <div class="col-1">
            <div class="dropdown">
              <button class="btn btn-custom dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                Tri
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Moin cher au plus cher</a></li>
                <li><a class="dropdown-item" href="#">Plus cher au moins cher</a></li>
                <li><a class="dropdown-item" href="#">Récemment vendu</a></li>
                <li><a class="dropdown-item" href="#">Récemment créer</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        <button class="btn custom-tri"><img src="assets/img/tri.svg" class="img-fluid"></button>
        <div class="card sticky-side">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <p>Tous</p>
              <p>En vente</p>
              <p>Nouveau</p>
            </li>
            <li class="list-group-item">
              <div class="container-fluid">
                <p>Prix</p>
                <div class="row">
                  <div class="col-md-6">
                    <input type="number" class="form-control" id="minValue" placeholder="Min">
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control" id="maxValue" placeholder="Max">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 ">
                    <button class="btn btn-dark" id="applyButton">Appliquer</button>
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </div>
      </div>

      <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
        <div class="row">
          <div *ngFor="let nft of nfts" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 ">
            <a [routerLink]="'/nft/' + nft.id">
              <div class="card">
                <img *ngIf="nft" [src]="nft.image.imageUrl" class="card-img-top card-photo img-fluid" alt="...">
                <div class="card-body">
                  <p class="card-text" *ngIf="nft">{{ nft.name }}</p>
                  <p class="card-text" *ngIf="nft">{{ nft.price }} ETH</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
