.custom-banner {
  max-height: 320px;
  overflow: hidden; /* Cache tout ce qui dépasse la hauteur maximale */
}

a {
  text-decoration:none;
  color: black;
}

.custom-photo{
  margin-top: -10.5%;
  margin-left: 2%;
  width: 12%;
  max-height: 182.3px;
  border-radius: 20px;
}
.collection-photo{
  padding-bottom: 2%;
}
.nom-collection{
  font-size: 200%;
  font-weight: bold;
  padding-left: 0.5%;
}
.custom-container{
  margin-top: -2%;
  padding-left: 2%;
}

.nom-createur{
  font-weight: bold;
}
.nom-createur:before {
  padding-left: 0.5%;
  font-weight: normal;
  content: "By ";
}
.custom-info{
  font-weight: bold;
}
.custom-infol{
  font-weight: bold;
}

.custom-info:after{
  content: " · ";
}

.description{
  padding-left: 0.5%;
}

.section-divider {
  margin-top: 3%;
  border-bottom: 1px;
}
.custom-row{
  padding-bottom: 2%;
}

.card{
  margin-bottom: 5%;
}

.card-photo{
  height: 301.95px;
}


.btn-custom{
  border-color: #EAE8E8 ;
}

.custom-search-form {
  width: 120%;
  height: 105%;
}
.btnl{
  color: grey;
}

.btnl:hover{
  color: black;
}

li{
  padding-right: 2%;
}



@media all and (max-width: 1000px) {
  .custom-photo{
    width: 20%;
    margin-top: -15%;
  }
  .card{
    margin-right: 25%;
  }
  .sticky-nav{
    visibility: hidden;
  }
}

@media all and (max-width: 700px) {
  .nom-collection{
    font-size: 150%;
  }
}

