<app-navcarousel *ngIf="dataLoaded"></app-navcarousel>

<section *ngIf="dataLoaded">
  <div class="container-fluid">
    <div class="row align-items-center text-center">
      <div class="col-1 col-md-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
        <button class="btn btn-dark custom-btn" data-bs-target="#carouselExample" data-bs-slide="prev"><</button>
      </div>
      <div class="col-10 col-md-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <div id="carouselExample" class="carousel slide custom-carousel" data-bs-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[0].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[0].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[0].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[1].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[1].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[1].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[2].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[2].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[2].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[3].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[3].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[3].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>


            <div class="carousel-item">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[4].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[4].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[4].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[17].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[17].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[17].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[6].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[6].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[6].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[7].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[7].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[7].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>


            <div class="carousel-item">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[8].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[8].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[8].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[9].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[9].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[9].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[18].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[18].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[18].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="/collection/{{gallery[11].id}}">
                      <div class="card custom-card">
                        <img src="{{gallery[11].image.imageUrl}}" alt="Image 1" class="img-fluid">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title custom-title">{{gallery[11].name}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 col-md-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
        <button class="btn btn-dark custom-btn" data-bs-target="#carouselExample" data-bs-slide="next">></button>
      </div>
    </div>
  </div>
</section>

<section *ngIf="dataLoaded">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col">
        <table class="table table-borderless">
          <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Collection</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="/collection/{{gallery[17].id}}"><img src="{{gallery[17].image.imageUrl}}" class="img-fluid tb"></a>
            <td><p>{{gallery[17].name}}</p></td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td><a href="/collection/{{gallery[14].id}}"><img src="{{gallery[14].image.imageUrl}}" class="img-fluid tb"></a>
            </td>
            <td><p>{{gallery[14].name}}</p></td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td><a href="/collection/{{gallery[10].id}}"><img src="{{gallery[10].image.imageUrl}}" class="img-fluid tb"></a>
            </td>
            <td><p>{{gallery[10].name}}</p></td>
          </tr>

          <tr>
            <th scope="row">4</th>
            <td><a href="/collection/{{gallery[11].id}}"><img src="{{gallery[11].image.imageUrl}}" class="img-fluid tb"></a>
            </td>
            <td><p>{{gallery[11].name}}</p></td>
          </tr>

          <tr>
            <th scope="row">5</th>
            <td><a href="/collection/{{gallery[12].id}}"><img src="{{gallery[12].image.imageUrl}}" class="img-fluid tb"></a>
            </td>
            <td><p>{{gallery[12].name}}</p></td>
          </tr>

          </tbody>

        </table>
      </div>

      <div class="col">
        <table class="table table-borderless">
          <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Collection</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">6</th>
            <td><a href="/collection/{{gallery[15].id}}"><img src="{{gallery[15].image.imageUrl}}" class="img-fluid tb"></a>
            </td>
            <td><p>{{gallery[15].name}}</p></td>
          </tr>

          <tr>
            <th scope="row">7</th>
            <td><a href="/collection/{{gallery[6].id}}"><img src="{{gallery[6].image.imageUrl}}"
                                                             class="img-fluid tb"></a></td>
            <td><p>{{gallery[6].name}}</p></td>
          </tr>

          <tr>
            <th scope="row">8</th>
            <td><a href="/collection/{{gallery[7].id}}"><img src="{{gallery[7].image.imageUrl}}"
                                                             class="img-fluid tb"></a></td>
            <td><p>{{gallery[7].name}}</p></td>
          </tr>

          <tr>
            <th scope="row">9</th>
            <td><a href="/collection/{{gallery[19].id}}"><img src="{{gallery[19].image.imageUrl}}" class="img-fluid tb"></a>
            </td>
            <td><p>{{gallery[19].name}}</p></td>
          </tr>

          <tr>
            <th scope="row">10</th>
            <td><a href="/collection/{{gallery[13].id}}"><img src="{{gallery[13].image.imageUrl}}" class="img-fluid tb"></a>
            </td>
            <td><p>{{gallery[13].name}}</p></td>
          </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</section>

<section *ngIf="dataLoaded">
  <div class="container-fluid text-center">
    <h2>Toutes les collections</h2>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <ng-container *ngIf="gallery">
            <div *ngFor="let gallery of gallery" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 ">
              <a [routerLink]="'/collection/' + gallery.id">
                <div class="card cc">
                  <img [src]="gallery.image.imageUrl" class="card-img-top img-fluid cp" alt="...">
                  <div class="card-body cb">
                    <p class="card-text ct">{{gallery.name}}</p>
                  </div>
                </div>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</section>

<app-footer></app-footer>
