section{
  padding-bottom: 5%;
}

.custom-title{
  color: white;
}
.custom-card{
  border: none;
  margin: 0;
  padding: 0;
  background-color: black;
  transition: transform 0.4s ease;
}
.custom-img{
  border-radius: 15%;
}


.custom-card:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.tb{
  background-color: black;
  width: 15%;
}

.cc{
  margin-bottom: 5%;
}

.cp{
  height: 301.95px;
}

a{
  text-decoration: none;
}



@media all and (max-width: 1000px) {

  .custom-btn {
    display: none;
  }
  .custom-title{
    display: none;
  }
  .tb{
    width: 30%;
  }
}


@media all and (max-width: 500px) {
  .mobile{
    height: 250%;
  }
}











