<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Retrouvez nous sur nos réseaux sociaux :</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Les délires de Tatty
          </h6>
          <p>
            Les délires de tatty  est né d’une idée d’innovation de Josianne aussi appelée Tatty Josy dans le domaine, est une femme que l’on retrouve dans des thématiques souvent… inattendues !
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Marketplace
          </h6>
          <p>
            <a href="category/art" class="text-reset">Art</a>
          </p>
          <p>
            <a href="category/gaming" class="text-reset">Gaming</a>
          </p>
          <p>
            <a href="category/photo" class="text-reset">Photographie</a>
          </p>
          <p>
            <a href="category/pfps" class="text-reset">PFPs</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            FAQ
          </h6>
          <p>
            <a href="#!" class="text-reset">Qui sommes nous ?</a>
          </p>
          <p>
            <a href="#!" class="text-reset">C'est quoi un nft ?</a>
          </p>
          <p>
            <a href="#!" class="text-reset">C'est quoi la blockchain ?</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Comment achetez et vendre ?</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Lyon, 69001 FRANCE</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            contact@ldt.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> + 07 77 84 25 13</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="">LDT.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
