<app-navcarousel></app-navcarousel>

<div class="container-fluid ">
  <div class="row align-items-center text-center">
    <div class="col-1 col-md-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
      <button class="btn btn-dark custom-btn" data-bs-target="#carouselExample" data-bs-slide="prev"><</button>
    </div>
    <div class="col-10 col-md-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
      <div id="carouselExample" class="carousel slide custom-carousel" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[0].id}}">
                    <div class="card">
                      <img src="{{gallery[0].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[0].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[1].id}}">
                    <div class="card">
                      <img src="{{gallery[1].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[1].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[2].id}}">
                    <div class="card">
                      <img src="{{gallery[2].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[2].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[3].id}}">
                    <div class="card">
                      <img src="{{gallery[3].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[3].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[4].id}}">
                    <div class="card">
                      <img src="{{gallery[4].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[4].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[17].id}}">
                    <div class="card">
                      <img src="{{gallery[17].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[17].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[6].id}}">
                    <div class="card">
                      <img src="{{gallery[6].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[6].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[7].id}}">
                    <div class="card">
                      <img src="{{gallery[7].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[7].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[8].id}}">
                    <div class="card">
                      <img src="{{gallery[8].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[8].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[9].id}}">
                    <div class="card">
                      <img src="{{gallery[9].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[9].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[18].id}}">
                    <div class="card">
                      <img src="{{gallery[18].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[18].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-3 col-md-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a href="/collection/{{gallery[11].id}}">
                    <div class="card">
                      <img src="{{gallery[11].image.imageUrl}}" alt="Image 1" class="img-fluid">
                      <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{gallery[11].name}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    <div class="col-1 col-md-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
      <button class="btn btn-dark custom-btn"  data-bs-target="#carouselExample" data-bs-slide="next">></button>
    </div>
  </div>
</div>





