<section id="sellNFT" *ngIf="dataLoaded">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Vendre {{nft.name}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form name="sellNFT" #f="ngForm" (ngSubmit)="sellNFT()">
          <div class="modal-body">

            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="prix" placeholder="prix" [(ngModel)]="nft.price"
                     #name="ngModel" [ngModelOptions]="{standalone: true}">
              <label for="prix">Prix</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark">Vendre</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section *ngIf="dataLoaded">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-5">
        <div class="card">
          <img src="{{nft.image.imageUrl}}">
        </div>

        <div class="custom-espace">
          <div class="card">
            <div class="card-header">By {{nft.nftgallery.creator.username}}</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p class="sm">{{nft.nftgallery.description}}</p>
              </blockquote>
            </div>
          </div>
        </div>

      </div>

      <div class="col-7">
        <div class="row">
          <div class="col-10">
            <h5>{{nft.nftgallery.name}}</h5>
          </div>
          <div class="col-2">
            <div class="dropdown" *ngIf="isOwner">
              <button class="btn" type="button" data-bs-toggle="dropdown">
                <img src="assets/img/three-dots.svg" class="img-fluid">
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button class="btn" (click)="deleteNFT()" *ngIf="isOwner">Suprimer</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <h2>{{nft.name}}</h2>
        <h6>Propriété de {{nft.owner.username}}</h6>
        <p>{{nft.currentOrder?.price_buy}} ETH </p>
        <button class="btn btn-dark" *ngIf="isOwner && !nft.currentOrder?.price_buy" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Vendre
        </button>
        <button class="btn btn-dark" (click)="annulerVenteNft(nft.id)" *ngIf="isOwner && nft.currentOrder?.price_buy">
          Annuler vente
        </button>
        <button class="btn btn-dark" (click)="acheterNFT()" *ngIf="nft.currentOrder?.price_buy && !isOwner">
          Acheter
        </button>
        <button class="btn btn-dark" (click)="ajouterAuPanier(nft)"
                *ngIf="!estDansLePanier(nft) && nft.currentOrder?.price_buy && !isOwner">Ajouter au panier
        </button>
        <button class="btn btn-dark" disabled="true" *ngIf="estDansLePanier(nft)">Dans le panier</button>

        <div class="transac">
          <div class="accordion custom-accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Transaction du NFT
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table">
                      <thead>
                      <tr>
                        <th scope="col">Prix</th>
                        <th scope="col">Vendeur</th>
                        <th scope="col">Acheteur</th>
                        <th scope="col">Date d'achat</th>
                        <th scope="col">Statut</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let transaction of transactions.reverse()">
                        <ng-container *ngIf="transaction.nft_id.id === nft.id">
                          <td>{{ transaction.price_buy}} ETH</td>
                          <td>{{ transaction.user_seller_id.username }}</td>
                          <td>{{ transaction.user_buyer_id?.username }}</td>
                          <td>{{ transaction.endDate | date:'medium' }}</td>
                          <td>{{ transaction.status }}</td>
                        </ng-container>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>


<app-footer *ngIf="dataLoaded"></app-footer>
