<app-navbar></app-navbar>
<section>

  <div class="container text-center">
    <div class="row">
      <div class="col">

        <div class="card">
          <img src="assets/img/gridhaus.avif" class="card-img-top" alt="...">
        </div>

        <div class="custom-espace">
          <div class="card">
            <div class="card-header">Description</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>A well-known quote, contained in a blockquote element.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>

      </div>

      <div class="col">
        2 of 2
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
