<section id="qsn">
  <div class="container">
    <img src="assets/img/qsn.png" class="img-fluid">
  </div>
</section>


<section id="nft">
  <div class="container">
    <img src="assets/img/nftcq.png" class="img-fluid">
  </div>
</section>

<section id="blockchain">
  <div class="container">
    <img src="assets/img/blockchain.avif" class="img-fluid">
  </div>
</section>


<section id="vente">
  <div class="container">
    <h1>Comment acheter un NFT</h1>
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/ZrP0pGIu_rs?si=GIhIcB58uoXeCr9W"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
    </div>
  </div>
</section>

<app-footer></app-footer>
